/* Layouts */
.wrapper {
    min-height: 100%;
}

.wrapper:before,
.wrapper:after {
    display: table;
    content: " ";
}

.wrapper:after {
    clear: both;
}

/* Header */
body > .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

/* Content */
.content {
    padding: 20px 15px;
    background: #ffffff;
}

.content-header {
    position: relative;
    padding: 15px 15px 10px 15px;
}

.content-header > h1 {
    margin: 0;
    font-size: 24px;
}

.content-header > h1 > small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}

.content-header > .breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.content-header > .breadcrumb > li > a {
    color: #444;
    text-decoration: none;
}

.content-header > .breadcrumb > li > a > .fa,
.content-header > .breadcrumb > li > a > .glyphicon,
.content-header > .breadcrumb > li > a > .ion {
    margin-right: 5px;
}

.content-header > .breadcrumb > li + li:before {
    content: '>\00a0';
}

/* Utility */
/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

/* skin-blue navbar */
.skin-blue .navbar {
    background-color: #3c8dbc;
}

.skin-blue .navbar .nav a {
    color: rgba(255, 255, 255, 0.8);
}

.skin-blue .navbar .nav > li > a:hover,
.skin-blue .navbar .nav > li > a:active,
.skin-blue .navbar .nav > li > a:focus,
.skin-blue .navbar .nav .open > a,
.skin-blue .navbar .nav .open > a:hover,
.skin-blue .navbar .nav .open > a:focus {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}

.skin-blue .navbar .navbar-right > .nav {
    margin-right: 10px;
}

.skin-blue .navbar .sidebar-toggle .icon-bar {
    background: rgba(255, 255, 255, 0.8);
}

.skin-blue .navbar .sidebar-toggle:hover .icon-bar {
    background: #f6f6f6 !important;
}

/*
    Dropdown menus
----------------------------
*/
/*Dropdowns in general*/
.dropdown-menu {
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    z-index: 2300;
}

.dropdown-menu > li > a > .glyphicon,
.dropdown-menu > li > a > .fa,
.dropdown-menu > li > a > .ion {
    margin-right: 10px;
}

.dropdown-menu > li > a:hover {
    background-color: #3c8dbc;
    color: #f9f9f9;
}

/*Drodown in navbars*/
.skin-blue .navbar .dropdown-menu > li > a {
    color: #444444;
}

/*
    component: Boxes
-------------------------
*/
.box {
    position: relative;
    background-color: #ffffff;
    border-top: 2px solid #c1c1c1;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.box.box-primary {
    border-top-color: #3c8dbc;
}

.box .box-header {
    position: relative;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0px solid #f4f4f4;
    color: #444;
    padding-bottom: 10px;
}

.box .box-header:before,
.box .box-header:after {
    display: table;
    content: " ";
}

.box .box-header:after {
    clear: both;
}

.box .box-header .box-title {
    display: inline-block;
    padding: 10px 0px 10px 10px;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    float: left;
    cursor: default;
}

.box .box-body {
    padding: 10px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.box .box-body.chart-responsive {
    width: 100%;
    overflow: hidden;
}

.box .box-body > .chart {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.box .box-body > .chart svg,
.box .box-body > .chart canvas {
    width: 100% !important;
}

.box .chat {
    padding: 5px 20px 5px 10px;
}

